body{
    background-image: url(/v960-ning-05.jpg);
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #dbeafe, #f0abfc);
}


h1{
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(194, 43, 102, 1) 26%, rgba(253, 29, 29, 1) 50%, rgba(252, 51, 239, 1) 77%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
}



form{
    width: 550px;
    margin: 20px auto;
    backdrop-filter: blur(10px);
 
  
    
}

fieldset{
    border: 5px double black;
    border-radius: 20px;
    box-shadow: 5px 13px 15px black;

    
}

legend{
    font-weight: 900;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(194, 43, 102, 1) 26%, rgba(253, 29, 29, 1) 50%, rgba(252, 51, 239, 1) 77%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    color: transparent;
}

input[required]{
    border: 2px solid red;
}

input[optional]{
    border: 2px solid rgb(0, 132, 255);
}

input:focus{
    background-color: lightslategray;
}

input[value="TAP ACADEMY"]{
    background-color: purple;
    color: white;
    font-weight: 900;
}

input+pre{
    display: none;
}
input:hover + pre{
    display: inline;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
}

img{
    display: none;
}

input[type="email"]:focus:valid ~ img#valid{
    display: inline;
    width: 20px;
    height: 20px;
}

input[type="email"]:focus:invalid ~ img#invalid{
    display: inline;
    width: 30px;
    height: 30px;
}

input[type="number"]:focus:valid ~ img#valid{
    display: inline;
    width: 20px;
    height: 20px;
}

input[type="number"]:focus:invalid ~ img#invalid{
    display: inline;
    width: 30px;
    height: 30px;
}

input[type="password"]:focus:valid ~ img#valid{
    display: inline;
    width: 20px;
    height: 20px;
}

input[type="password"]:focus:invalid ~ img#invalid{
    display: inline;
    width: 30px;
    height: 30px;
}

#reset{
    background-color: green;
    border-radius: 15px;
    color: white;
    width: 150px;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1.5);
    margin-left: 130px;
    padding: 5px;
}

#reset:hover{
        box-shadow: 0 5px 15px 3px rgba(17, 114, 0, 0.95);

}


#submit{
    background-color: red;
    color: white;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 30px;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1.5);
    margin-left: 30%

}

#submit:hover{
    box-shadow: 0 5px 15px 3px rgba(252, 41, 4, 0.95);
}

input[type="radio"]:checked{
    height: 15px;
    width: 15px;
}

input[type="radio"]:checked + label{
    color: rgb(0, 81, 255);
}

textarea{
    resize: none;
}

table{
    padding-left: 20px;
}

